# Hype project dependencies for development

pip-tools
Django
flake8
psycopg2

# to install postgresql drivers for the system, run these commands in the shell 
# (your system may not be using apt-get, research that):
# sudo apt-get update
# sudo apt-get install python-pip python-dev libpq-dev postgresql postgresql-contrib